*{
    margin:0;
}

body{
    background: rgb(239, 239, 239);
}

header{
    background-color: aquamarine;
    height: 80px;
    width:100%;
    display: flex;
    position: fixed;
    padding:10px;
    
}

.headerTop{
    color:purple;
    width:40%;
}

.lista{
   width:40%;
    
}

.lista ul{
    list-style-type: none;
    display: flex;
    
}

.lista li{
    
    /* background-color: rgb(0, 0, 0); */
    padding: 10px;
   
    color:white;
    text-align: center;
   
}

a {
    color:white;
    text-decoration: none;
    padding: 10px;
    
}

a:hover{
    background-color: white;
    color:aquamarine;
    padding: 10px;
    
}

a:active{
    font-size:50px;
    
    transition-duration: 1s;


}

section{
    background-color:rgb(255, 255, 255);
    height: 700px;
    
}

footer{
    background-color: orange;
    height: 100px;
}


/* Css página Home */

.textoHome{
    color:white;
}



/* Css página Imagens */

.sectionPagImg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 1100px;   
    
}

.b1{
    background-image: url("https://s2-ge.glbimg.com/S_1zho0m7c3MsaZ-tChQDoZVfcI=/0x0:1024x683/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2020/U/3/1yt9BZRDWGNyBsLpMqpA/bruno.jpg");
    width:280px;
    height: 250px;
    background-size:431px;
    background-position: 7px 0;
}
.b2{
    background-color: green;
    width:280px;
    height: 250px;
}
.b3{
    background-color: purple;
    width:280px;
    height: 250px;
}
.b4{
    background-color: yellow;
    width:280px;
    height: 250px;
}


/* Css página Vídeos */


/* CSS contatos */

.textForm {
    background-color: rgb(193, 191, 191);
    width: 500px;
    border-radius: 5px;
    border: solid 1px;
    border-color: gray;
}

.textForm::placeholder{
    color:rgb(0, 0, 0)
}

.butao{
    padding: 5px;
    background-color: aqua;
    border: solid 0;
    border-radius: 5px;
    width: 100px;
    font-family: "Comfortaa", sans-serif;
   
}




.comfortaa-uniquifier> {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
}

