/* *{
    margin:0;
} */

body{
    background: rgb(239, 239, 239);
}

header{
    background-color: aquamarine;
    height: 80px;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerTop{
    color:purple;

}

.lista{
    
    position: relative;
    left:5%;
}

.lista ul{
    list-style-type: none;
    display: flex;
}

.lista li{
    
    /* background-color: rgb(0, 0, 0); */
    padding: 10px;
   
    color:white;
    text-align: center;
}

a {
    color:white;
    text-decoration: none;
    padding: 10px;
}

a:hover{
    background-color: white;
    color:aquamarine;
    padding: 10px;
}

a:active{
    font-size:50px;
    
    transition-duration: 1s;
}

section{
    background-color:rgb(255, 255, 255);
    height: 700px;
    
}

footer{
    background-color: rgb(179, 179, 179);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.homeFooter1{

}


/* Css página Home */

.sectionHome{
    display: flex;
    flex-direction: row;
    border: solid 1px rgb(230, 27, 237);
    height: 450px;
    justify-content: space-around;
    align-items: center;
}

.homeImg1{
    border: solid 1px blue;
    height: 250px;
    width:400px;
}

.homeText1{
    border: solid 1px green;
    height: 250px;
    width:400px;
}

.homeP1{
    color:gray;
}


/* Css página Imagens */

.sectionPagImg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height:500px;
    flex-wrap: wrap;
    
}

.b1{
    background-color: rgb(255, 162, 48);
    width:280px;
    height: 250px;
}
.b2{
    background-color: green;
    width:280px;
    height: 250px;
}
.b3{
    background-color: purple;
    width:280px;
    height: 250px;
}
.b4{
    background-color: yellow;
    width:280px;
    height: 250px;
}


/* Css página Vídeos */


/* CSS contatos */

.textForm {
    background-color: rgb(193, 191, 191);
    width: 500px;
    border-radius: 5px;
    border: solid 1px;
    border-color: gray;
}

.textForm::placeholder{
    color:rgb(0, 0, 0)
}

.butao{
    padding: 5px;
    background-color: aqua;
    border: solid 0;
    border-radius: 5px;
    width: 100px;
    font-family: "Comfortaa", sans-serif;
}

.comfortaa-uniquifier> {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
}

.formulario{
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 500px;
    height: 400px;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.sectionContatos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Acme", sans-serif;
}


/* Testando @medias Query*/

/* Media query pag imagens */
@media only screen and (min-width:000px) and (max-width:880px){
    .sectionPagImg{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height:850px;
        flex-wrap:nowrap;
        
    }
}














@media only screen and (min-width:800px){
    body{
        background-color: rgb(141, 255, 106);
    }
}

@media only screen and (min-width:1200px){
    body{
        background-color: rgb(138, 54, 255);
    }
}